@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Leaflet Custom Styles */
.traffic-line-glow {
  filter: drop-shadow(0 0 8px);
  /* Inherits color from stroke */
  animation: pulse-traffic 2s infinite;
}

@keyframes pulse-traffic {
  0% {
    opacity: 0.6;
    stroke-width: 8;
  }

  50% {
    opacity: 1.0;
    stroke-width: 10;
  }

  100% {
    opacity: 0.6;
    stroke-width: 8;
  }
}

.traffic-pulse {
  animation: pulse-traffic 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

/* DARK MODE MAP HACK */
.leaflet-layer {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}